#bot-container{
    
  
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        margin-top: 70px;
        height: 800px;
        overflow: hidden;
        /* background-color: aqua; */
    
}
.searchBox {
        width: 48%;
        display: flex;
        border-radius: 8px;
        border: solid 1px #E9ECEF;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
    }
    
    .searchBox input {
        border: none;
        width: 100%;
    }
    
    .searchBox input:focus {
        outline: none;
    }
    
    .searchBox input::placeholder {
        color: #CBCBCB;
    }
    