.searchBox {
    width: 48%;
    display: flex;
    border-radius: 8px;
    border: solid 1px #E9ECEF;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    padding: 6px;
  }
  
  .searchBox input {
    border: none;
    width: 100%;
  }
  
  .searchBox input:focus {
    outline: 0;
  }
  
  .searchBox input::placeholder {
    color: #CBCBCB;
  }